body {
    background-color: lightsalmon;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 5px;
    max-width: 1200px;
    margin: 20px auto;
}

.item, .itemb {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column nowrap; 
    width: 50%;
    border: 1px solid black; 
    border-radius: 5px;
    padding: 40px;       
    text-align: left;   
    box-sizing: border-box;
}

.itemb {
    background-color: wheat;
    color: black;
}

.item > h1, .itemb > h1 {
    align-self: center;
    margin-bottom: 10px;
}

.item > h2 {
    color: green;
}

h4, p {
    margin: 5px 0;
}

p {
    line-height: 1.5;
}

.contact-info > p {
    margin-top: 10px;
}

div > img {
    align-self: center;
    height: 170px;
    border-radius: 100px;
    border: 2px solid green;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1); /* Amplia ligeiramente a imagem ao passar o mouse sobre ela */
    border-color: #555;
}

.itemb > hr {
    border: 2px solid #000;  /* Linha com borda preta de 2px */
    background-color: transparent; /* Fundo transparente para evitar conflito */
    margin: 0px 0 20px 0;  /* Espaçamento abaixo da linha */
}
